<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMP TO MGR</title>
    
</head>
<body>
    <center>
        <h1>Display Emp to Mgr</h1>
        <table border="2px">
        <tr>
            <th>empno</th>
            <th>ename</th>
            <th>job</th>
            <th>sal</th>
            <th>hiredate</th>
            <th>mgr</th>
            <th>comm</th>
            <th>deptno</th>
            <th>mgr ename</th>
            <th>mgr job</th>
        </tr>
        {% for EO in QSLEDMO %}
        <tr>
            <td>{{EO.empno}}</td>
            <td>{{EO.ename}}</td>
            <td>{{EO.job}}</td>
            <td>{{EO.sal}}</td>
            <td>{{EO.hiredate}}</td>
            <td>{{EO.mgr}}</td>
            <td>{{EO.comm}}</td>
            <td>{{EO.deptno}}</td>
            <td>{{EO.mgr.ename}}</td>
            <td>{{EO.mgr.job}}</td>
        </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>